<div class="main">
  <div class="container">
    <h2>Sobre a Cidade</h2>
    <h3> Onde comer</h3>
    <p><a href="/files/onde_comer.pdf" target="_blank">Clique aqui</a> para baixar um arquivo com dicas sobre onde comer na universidade</p>
    <h3> Hospedagem</h3>
    <p><a href="/files/hospedagem.pdf" target="_blank">Clique aqui</a> para baixar um arquivo com dicas sobre hospedagens</p>
    <h3>Como chegar</h3>
    <p><a href="/files/como_chegar.pdf" target="_blank">Clique aqui</a> para baixar um arquivo com dicas de como chegar na Universidade de São Paulo</p>
  </div>
</div>
