<div class="main">
  <div class="container">
    <h2>Contato</h2>
    <h3>Endereço</h3>
    <p>Universidade de São Paulo, Faculdade de Educação</p>
    <p>Av. da Universidade, 308 - Butantã <br/> São Paulo - SP, 05508-040</p>
    <h3>Telefone</h3>
    <p>(11) 30913099</p>
    <h3>E-mail</h3>
    <p>infanciasulamericana@usp.br</p>
  </div>
</div>
