<div class="main">
  <div class="container">
    <h2>Inscrições</h2>
    <p><b><a href="/nova-inscricao">Clique aqui</a></b> para realizar sua inscrição.</p>

    <h3>Eixos Temáticos</h3>

    <p>Propõe-se a realização deste seminário para promover o conhecimento e a reflexão sobre a infância e os estudos que dela se ocupam, na América do Sul, pesquisas realizadas em áreas como a Sociologia da Infância, a Geografia, a Arquitetura e o Urbanismo, a Antropologia, a Arte, a Educação, entre outras. O Seminário Internacional Infâncias Sul Americanas pretende discutir as condições de vida cotidiana e as formas de participação das crianças na sociedade. Para tanto, terá mesas redondas sobre aspectos de investigação e de intervenção urbana e contará com sessões de comunicações, submetidas a arbitragem científica, organizados em torno dos seguintes eixos:</p>
    <br/>
    <ol>
      <li>As crianças em espaços urbanos;</li>
      <li>Espaço, território, circulação e infância;</li>
      <li>As crianças e as imagens;</li>
      <li>Políticas e direitos das crianças;</li>
      <li>Infância, Estado e Movimentos sociais;</li>
    </ol>

    </br>

    <h3>Categorias e valores das inscrições:</h3>
    <h4>1ª Etapa: de 26 de janeiro a 15 de fevereiro de 2017</h4>
    <ul>
      <li>Docentes e Pesquisadores R$ 150,00</li>
      <li>Estudantes de Pós-Graduação R$100,00</li>
      <li>Estudantes de Graduação R$ 50,00</li>
      <li>Profissionais da educação básica R$ 75,00</li>
      <li>Outros profissionais/ Ouvintes (sem apresentação de trabalho) R$ 100,00</li>
    </ul>

    <h4>2ª Etapa: de 15 de fevereiro a 5 de março de 2017</h4>
    <ul>
      <li>Docentes e Pesquisadores R$ 200,00</li>
      <li>Estudantes de Pós-Graduação R$ 150,00</li>
      <li>Estudantes de Graduação R$ 70,00</li>
      <li>Profissionais da educação básica R$ 100,00</li>
      <li>Outros profissionais// Ouvintes (sem apresentação de trabalho) R$ 100,00</li>
    </ul>

    <br/>

    <h3>Orientações para submissão de trabalhos:</h3>
    <h4>1. Datas importantes</h4>
    <ul>
      <li>Período de inscrição de participantes com submissão de trabalho para comunicação oral: de 1º de novembro a 15 de dezembro de 2016</li>
      <li>Análise dos trabalhos: de 16 de dezembro de 2016 a 20 de janeiro de 2017</li>
      <li>Divulgação dos trabalhos aprovados: 26 de janeiro de 2017</li>
      <li>Pagamento das Inscrições 1ª Etapa: de 26 de janeiro a 15 de fevereiro de 2017</li>
      <li>Pagamento das Inscrições 2ª Etapa: de 15 de fevereiro a 5 de março de 2017</li>
      <li>Envio dos textos completos dos trabalhos aprovados: 26 de janeiro a 27 de fevereiro</li>
      <li>Período de inscrição de participantes sem apresentação de trabalho (condicionado à existência de vagas): 27 de fevereiro a 03 de março de 2017</li>
    </ul>

    <h4>2.Instruções para os autores:</h4>
    <p>Deverá respeitar a temática do Seminário. O texto do resumo deve fazer referência aos objetivos, ao referencial teórico, ao dispositivo metodológico e às principais conclusões do estudo. Do resumo deve constar:</p>
    <br/>
    <ul>
      <li>Título – centralizado, com todas as letras maiúsculas;</li>
      <li>Nome(s) completo(s) do(s)autor(es) – um por linha, com alinhamento pela margem direita;</li>
      <li>Filiação institucional – sigla da(s) instituição(ões) e endereço(s) eletrônico(s) do(s) autor(es).</li>
      <li>O resumo não deve ultrapassar 2500 caracteres, incluindo espaços (indicar três a cinco palavras-chave). Cada autor não poderá submeter mais do que duas comunicações.</li>
  </div>
</div>
