<div class="main">
  <div class="container">
    <h2>Programação</h2>
    <h3>Eixos Temáticos</h3>
    <p>Propõe-se a realização deste seminário para promover o conhecimento e a reflexão sobre a infância e os estudos que dela se ocupam, na América do Sul, pesquisas realizadas em áreas como a Sociologia da Infância, a Geografia, a Arquitetura e o Urbanismo, a Antropologia, a Arte, a Educação, entre outras. O Seminário Internacional Infâncias Sul Americanas pretende discutir as condições de vida cotidiana e as formas de participação das crianças na sociedade. Para tanto, terá mesas redondas sobre aspectos de investigação e de intervenção urbana e contará com sessões de comunicações, submetidas a arbitragem científica, organizados em torno dos seguintes eixos:</p>
    <br/>
    <ol>
      <li> As crianças em espaços urbanos;</li>
      <li> Espaço, território, circulação e infância;</li>
      <li> As crianças e as imagens;</li>
      <li> Políticas e direitos das crianças;</li>
      <li> Infância, Estado e Movimentos sociais;</li>
    </ol>
  </div>
</div>
