<div class="main">
  <div class="container">
    <h2>Programação</h2>

    <p><a href="/files/programa.pdf" target="_blank">Clique aqui</a> para baixar a programação completa.</p>

    <h3>7 Março</h3>
    <h4>18h30 – 19h45</h4>
    <p>Abertura</p>
    <dl>
      <dt>Apresentação</dd>
      <dd><cite>Southern Childhoods</cite></dd>
      <dd>Afua Twun-Danso Imoh <br/> (The University of Sheffield/ CSCY)</dd>
      <dd><cite>Sociologia da Infância na América do Sul: alguns dados</cite></dd>
      <dd>Monique Voltarelli<br/> (FEUSP)</dd>
    </dl>


    <h4>19h50 – 20h50</h4>
    <dl>
      <dt>Conferência</dt>
      <dd><cite>Infâncias latino-americanas e desafios da pesquisa</cite></dd>
      <dd>Irene Rizzini <br/> PUC-RJ; Centro Internacional de Estudos e Pesquisas sobre a Infância (CESIPI/PUC-Rio)</dd>
    </dl>

    <hr/>

    <h3>8 Março</h3>
    <h4>9h – 11h</h4>
    <dl>
      <dt>Mesa 1 – Participação social e política da infância</dt>
      <dd><cite>Quem quer a participação política das crianças?</cite></dd>
      <dd>Lucia Rabello de Castro <br/> Núcleo Interdisciplinar de Pesquisa para a Infância e Adolescência Contemporâneas – NIPIAC - UFRJ</dd>
      <dd><cite>Infancia, derecho y trabajo: conceptos en disputa</cite></dd>
      <dd>Fernanda Wanderley <br/> Instituto de Investigaciones socio económicas - Universidad Católica Boliviana (IISEC-UCB) <br/> Universidad de San Andres (CIDES-UMSA) - Bolivia</dd>
      <dd><cite>La palabra de los niños y niñas como discursos sociales: una discusión teórica y metodológica</cite></dd>
      <dd>Ana Vergara del Solar <br/> Universidad Diego Portales, CL</dd>
    </dl>

    <h4>11h15 – 12h15</h4>
    <p>Sessões temáticas/ Comunicações</p>

    <h4>14h – 16h</h4>
    <dl>
      <dt>Mesa 2 – Infância e política</dt>
      <dd><cite>Infância e Política</cite></dd>
      <dd>Lisete Arelaro <br/> FE USP</dd>
      <dd><cite>Lxs niñxs y la dictadura. Un debate sobre subjetividad, memoria y política</cite></dd>
      <dd>Valeria Llobet <br/> CONICET / UNSAM</dd>
      <dd><cite>Derechos del niño: del discurso a las políticas públicas</cite></dd>
      <dd>Ernesto Duran Strauch <br/> Observatorio sobre Infancia. Universidad Nacional de Colombia</dd>
    </dl>

    <h4>16h15 – 17h15</h4>
    Sessões temáticas/ Comunicações

    <h4>17h30 – 19h30</h4>
    <dl>
      <dt>Mesa 3 – Crianças, territórios e migrações</dt>
      <dd><cite>Crianças, territórios urbanos e vivências escalares</cite></dd>
      <dd>Jader Janer Moreira Lopes <br/> UFJF</dd>
      <dd><cite>Migração simbólica e conflitos de identidade cultural nos processos de migração</cite></dd>
      <dd>Renato Seixas <br/> PROLAM USP </dd>
      <dd><cite>La integración de la infancia migrante en espacios locales: análisis de derechos</cite></dd>
      <dd>Iskra Pavez <br/> Universidad Bernardo O’Higgins, Observatorio Regional de Paz y Seguridad (ORPAS)</dd>
    </dl>

    <h4>19h30 - 20h</h4>
    <p>Síntese do dia</p>

    <hr/>

    <h3>9 Março</h3>
    <h4>9h – 10h30</h4>
    <dl>
      <dt>Mesa 4 – As crianças e as pesquisas</dt>
      <dd><cite>Infância e territorialidade nas cidades do hemisfério sul: estudo da produção acadêmica estrangeira</cite></dd>
      <dd>Maria Cristina Gouvea <br/> UFMG</dd>
      <dd><cite>Consideraciones teórico-metodológicas para el estudio de los conocimientos sociales de los niños y niñas</cite></dd>
      <dd>Mariana García Palacios <br/> CONICET – Universidad de Buenos Aires</dd>
    </dl>

    <h4>10h45 – 12h30</h4>
    <dl>
      <dt>Mesa 5 – As crianças no desenho da cidade</dt>
      <dd><cite>Mobilidade urbana de crianças no Distrito Federal: entre o plano e a experiência</cite></dd>
      <dd>Fernanda Müller <br/> UnB</dd>
      <dd><cite>A criança e a paisagem periférica – protagonismo no projeto dos espaços livres públicos</cite></dd>
      <dd>Catharina Pinheiro <br/> FAU USP</dd>
    </dl>

    <h4>14h – 15h30</h4>
    <p>Sessões temáticas/ Comunicações</p>

    <h4>15h45 – 17h15</h4>
    <dl>
      <dt>Mesa 6 – Infância, Estado e Movimentos Sociais</dt>
      <dd><cite>O que aprendemos com as crianças de movimentos de luta pela terra, em áreas periurbanas</cite></dd>
      <dd>Ana Paula Soares da Silva <br/> LAPSAPE/FFCLRP-USP</dd>
      <dd><cite>Escolarização, trabalho infantil e consumo em três gerações de crianças sertanejas (Paraíba/ Brasil)</cite></dd>
      <dd>Flavia Ferreira Pires <br/> UFPB</dd>
    </dl>

    <h4>17h30-19h</h4>
    <p>Sessões temáticas/ Comunicações</p>

    <h4>19h - 20h</h4>
    <p>Síntese do dia</p>

    <hr/>

    <h3>10 Março</h3>
    <h4>9h – 11h</h4>
    <dl>
      <dt>Minicurso 1</dt>
      <dd><cite>A participação das crianças e o espaço público: O que a universidade tem a ver com isso?</cite></dd>
      <dd>Juliana Prates Santana <br/> (UFBA)</dd>
    </dl>

    <dl>
      <dt>Minicurso 2</dt>
      <dd><cite>Infâncias urbanas em imagens: entre parques e praças, o que ficou nos quintais?</cite></dd>
      <dd>Carmen Soares e Fernanda Roveri <br/> (UNICAMP)</dd>
    </dl>

    <dl>
      <dt>Minicurso 3</dt>
      <dd><cite>As crianças e a etnografia</cite></dd>
      <dd>Emilene Leite de Souza <br/> (UFMA)</dd>
    </dl>

    <h4>11h15 - 11h45</h4>
    <p>Discussão</p>

    <h4>13h30-15h30</h4>
    <dl>
      <dt>Minicurso 4</dt>
      <dd><cite>Infância e movimentos sociais</cite></dd>
      <dd>Carolina de Roig Catini <br/> (UNICAMP)</dd>
    </dl>

    <dl>
      <dt>Minicurso 5</dt>
      <dd><cite>Mão na Lata - Processos colaborativos para a construção de imagens e narrativas</cite></dd>
      <dd>Tatiana Altberg <br/> (RJ)</dd>
    </dl>

    <dl>
      <dt>Minicurso 6</dt>
      <dd><cite>Desenhando a cidade</cite></dd>
      <dd>João Galera <br/> (U. Salamanca)</dd>
    </dl>

    <h4>15h45 – 16h15</h4>
    <p>Discussão</p>

    <h4>16h20 – 18h45</h4>
    <p>Conclusões e encaminhamentos</p>

    <h4>18h45-19h15</h4>
    <p>Encerramento</p>
  </div>
</div>
