@font-face {
  font-family: Lithos;
  src: url('/fonts/lithos-pro-black.otf');
  font-weight: bold;
}

@font-face {
  font-family: Lithos;
  src: url('/fonts/lithos-pro.otf');
  font-weight: normal;
}
