body, html, h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

span, a {
  display: inline-block;
}

h1 {
  font-family: Lithos;
  color: black;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  background-color: hsla(28, 91%, 54%, 0.2);
  padding: 0 15px;
}


h2 {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 30px;
  border-bottom: 2px solid;
}
@media(min-width: 768px) {
  h2 {
    font-size: 24px;
  }
}
@media(min-width: 1280px) {
  h2 {
    font-size: 26px;
  }
}

h3 {
  font-size: 18px;
  font-weight: 400;
  margin: 20px 0 10px;
}

h4 {
  font-size: 15px;
  font-weight: 600;
  margin: 30px 0 10;
}

h5 {
  font-size: 15px;
  font-weight: 400;
  margin: 30px 0 5px;
}

p {
  font-size: 14px;
  line-height: 24px;
}
@media(min-width: 1280px) {
  p {
    font-size: 15px;
  }
}

ul {
  padding: 0;
  margin: 0;
}

ol {
  padding: 0;
  margin: 0;
}

li {
  list-style: inside;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 15px;
}

cite {
  font-style: italic;
  padding-top: 9px;
  display: inline-block;
}

hr {
  margin-top: 60px;
  margin-bottom: 30px;
  border: 0;
  border-top: 2px solid black;
}

.container {
  margin: 0 auto;
  max-width: 300px;
}
@media(min-width: 768px) {
  .container {
    max-width: 520px;
  }
}
@media(min-width: 1280px) {
  .container {
    max-width: 760px;
  }
}

.container {
  min-height: 640px;
}

@media (min-width: 768px) {
  min-height: 1024px;
}

@media (min-width) {
  min-height: 600px;
}









/* Header */
.header {
  padding: 0px 0px;
  text-align: center;
  background-color: #191919;
}

.header__title {
  height: 145px;
  background-image: url('/files/logo_bg.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -65px 0;
  position: relative;
}

h1 .title__main {
  font-size: 18px;
  font-weight: bold;
}


h1 .title__secondary {
  font-size: 14px;
}

@media(min-width: 768px) {
  h1 .title__main {
    font-size: 20px;
  }

  .header__title {
  background-size: auto 100%;
    background-size: 100%;
    background-position: 0 0;
  }
}

@media(min-width: 1280px) {
  .header__title {
    height: 240px;
  }

  h1 .title__main {
    font-size: 24px;
  }

  h1 .title__secondary {
    font-size: 18px;
  }
}

.header__links{
  padding-top: 10px;
  padding-bottom: 3px;
}

.header__links a {
  font-size: 15px;
  padding: 5px 7px;
  text-decoration: none;
  color: #FFF056;
  display: inline-block;
}

.header__links a:hover {
  background-color: #FFF056;
  color: #191919;
}

.header__links .selected-link {
  background-color: #FFF056;
  color: #191919;
}

@media(min-width: 768px) {
  .header__links {
    padding-top: 7px;
    padding-bottom: 12px;
  }
}

@media(min-width: 768px) {
  .header__links {
    padding-top: 10px;
    padding-bottom: 12px;
  }
}




/* Main */
.main {
  padding: 30px 0px;
  background-color: #FFFFFF;
  color: #191919;
}




/* Forms */
.form-section {
  margin-bottom: 60px;
}

form input[type="text"] {
  border: 1px solid gray;
  padding: 8px;
  width: 100%;
}

form label {
  font-weight: 400;
  font-family: sans-serif;
}

form input.abstract_file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

input.abstract_file + label {
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  padding: 5px 10px;
  background-color: #FFF056;
  color: #191919;
}

input.abstract_file:focus + label,
input.abstract_file + label:hover {
  background-color: #FEE940;
  color: #191919;
}

form input[type="submit"] {
  font-size: 16px;
  padding: 10px 15px;
  border: none;
  color: #191919;
  display: inline-block;
  border-radius: 0;
  width: 100%;
}

form input[type="submit"]:hover {
  background-color: gray;
  color: #191919;
}

form input[type="text"].has-error {
  border-color: #bd0000;
}





//
// Footer
//

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 5px 0;
  background-color: black;
}

.footer__logo {
  width: 40%;
  display: block;
  margin: 20px auto;
}


@media (min-width: 768px) {
  .footer {
    padding: 5px 50px;
  }

  .footer__logo {
    width: 65%;
  }
}

@media (min-width: 1280px) {
  .footer {
    padding: 10px 300px;
  }
}

#logo_usp {
  background-color: white;
  width: 35%;
}

#logo_feusp {
  background-color: white;
}

#logo_capes {
  background-color: white;
}

#logo_cscy {
  width: 50%;
}

#logo_ufpb {
  width: 20%;
}

@media (min-width: 768px){
  #logo_usp {
    width: 60%;
  }

  #logo_feusp {
    width: 80%;
  }

  #logo_cscy {
    width: 80%;
  }

  #logo_ufpb {
    width: 25%;
  }
}

@media (min-width: 1280px){
  #logo_feusp {
    width: 60%;
  }

  #logo_usp {
    width: 45%;
  }

  #logo_capes {
    width: 50%;
  }

  #logo_cscy {
    width: 70%;
  }
}
